<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    
  <div class="container">
        <div class="row">
            
            <p>abc</p>
            <p>Loggedin As: <% if(loginUser){ %> <%= loginUser  %> <% } %></p>
         
           <% if(records.length >0){
            records.forEach(function(row){
            %>             
             
                <a href="/room/<%= row.roomid %>"><%= row.roomid %></a>               
              
            <%  }) } %>
      </div>
    </div>
    
  </body>
</html>
